.hamburger-menu
{
	display: flex;
	align-items: center;
	justify-content: center;

	width: 48px;
	height: 48px;

	flex-direction: column;
	gap: 5px;
	margin-left: 2vw;

	span
	{
		display: block;

		width: 24px;
		height: 2px;

		background-color: $mainColor;
		border-radius: 2px;
		will-change: transform;
		transition: all 0.3s ease-in-out;
	}
}

@media screen and (max-width: 1024px)
{
	html > body > header
	{
		.header-left
		{
			img
			{
				position: absolute;
				left: 50%;

				width: 20%;

				transform: translateX(-60%);
			}
		}
	}
}
