html > body
{
	footer
	{
		height: 173px;
		padding: 80px 0 68px 0;

		background-color: $mainColor;
		border-top-left-radius: 48px;
		border-top-right-radius: 48px;

		section
		{
			display: flex;

			height: 100%;
			margin: 0 auto;

			max-width: 1368px;

			.footer-info
			{
				display: flex;
				justify-content: space-between;

				width: 50%;

				flex-direction: column;

				.footer-legal-light
				{
					color: $dark-25;
					line-height: 16px;

					font-size: 16px;
					font-weight: 350;
					font-family: 'Circe Light';
					margin-bottom: 24px;

					a:hover
					{
						color: $white;
					}
				}
			}

			.footer-contacts
			{
				display: flex;
				justify-content: space-between;

				width: 24%;

				margin-left: 17%;
				flex-direction: column;

				.footer-social
				{
					display: flex;

					gap: 34px;

					a
					{
						display: flex;

						&:hover
						{
							circle
							{
								fill: $white;
							}
							path
							{
								fill: $mainColor;
							}
						}
					}
				}

				.regular
				{
					color: $white;
					line-height: 28px;

					margin-bottom: 13px;
					font-size: 22px;

					a:hover
					{
						color: $dark-40;
					}
				}
			}
		}
	}
}
@media screen and (max-width: 1440px) and (min-width: 1024px)
{
	html > body footer section
	{
		margin: 0 24px;
	}
}
@media screen and (max-width: 1024px) and (min-width: 640px)
{
	html > body footer section
	{
		margin: 0 20px;
	}
}
@media screen and (max-width: 640px)
{
	html > body footer section
	{
		margin: 0 16px;
	}
}
@media screen and (max-width: 1024px)
{
	html > body footer
	{
		height: fit-content;
		padding: 48px 0;

		border-radius: 20px 20px 0 0;

		section
		{
			flex-direction: column;
			gap: 68px;

			.footer-info
			{
				width: 100%;

				order: 1;

				.footer-legal-light
				{
					line-height: 120%;

					font-size: 14px;
				}
			}

			.footer-contacts
			{
				width: 80%;
				margin: 0;

				order: 0;

				.regular
				{
					line-height: auto;

					margin-bottom: 8px;
					font-size: 15px;
				}
			}
		}
	}
}
