@import "./_variables.scss";

.form-window
{
	position: absolute;
	top: 0;
	right: -100%;
	z-index: 2;

	display: flex;
	justify-content: center;

	width: 411px;
	height: 100vh;
	padding: 0 32px;
	background: white;

	border-radius: 32px 0 0 32px;
	flex-direction: column;
	gap: 48px;
	transition: right 0.3s ease-in-out;

	form
	{
		display: flex;

		flex-direction: column;
		gap: 32px;
	}

	.form-input-line
	{
		width: 100%;
		height: 48px;
		border: 1px solid $facadeColor;
		color: $dark-60;
		line-height: 20.8px;

		background-color: $facadeColor;
		border-radius: 12px;
		font-size: 16px;
		padding-left: 24px;

		&:focus
		{
			outline: 1px solid $accentColor;
		}
	}

	.form-input-checkbox
	{
		input
		{
			display: none;
		}

		label
		{
			vertical-align: middle;

			&:before
			{
				display: inline-block;

				width: 20px;
				height: 20px;
				border: 1px solid $accentColor;
				background: $facadeColor;
				text-align: center;

				content: " ";
				margin-right: 11px;
				border-radius: 5px;
				vertical-align: middle;
			}
		}

		input:checked + label:before
		{
			background: $accentColor;

			content: url('../img/form-checkbox.svg');
		}
	}
}

.overlay-background
{
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;

	display: none;

	width: 100vw;
	height: 100vh;

	background-color: rgba(#40454f, 0.5);
}

.form-overlay-close
{
	position: absolute;
	top: 32px;
	right: -500px;
	z-index: 2;
}

._active-overlay-close
{
	right: 503px;

	transition: right 0.3s ease-in-out;
	cursor: pointer;
}

._active-overlay-background
{
	display: block;

	animation: fade-in 0.5s linear;
}

._active
{
	right: 0;
}

.hidden
{
	display: none;
}

.overflow-hidden
{
	overflow: hidden;
}

@keyframes fade-in
{
	0%
	{
		opacity: 0;
	}
	100%
	{
		opacity: 1;
	}
}

@media screen and (max-width: 1024px)
{
	.form-window
	{
		top: auto;
		right: auto;
		bottom: 100%;

		width: calc(100% - 32px);
		height: 70vh;
		padding: 0 16px;

		border-radius: 32px 32px 0 0;
		gap: 32px;

		.form-input-line
		{
			width: 100%;
		}
	}

	.form-overlay-close
	{
		top: auto;
		right: 16px;
		bottom: 100%;
	}

	._active-overlay-close
	{
		bottom: calc(70vh + 8px);
	}

	._active
	{
		bottom: 0;
	}
}
