html > body
{
	main
	{
		margin: 0 auto;

		max-width: 1368px;

		section
		{
			display: flex;
			justify-content: space-between;

			margin-bottom: 88px;

			.main-block
			, .main-block-text
			{
				display: flex;

				flex-direction: column;
			}

			.main-block
			{
				width: 100%;

				gap: 48px;
			}

			.main-block-text
			{
				width: 80%;

				gap: 32px;
			}

			.main-p-regular
			{
				font-size: 14px;
				span
				{
					color: #b3b5b9;
				}
			}

			.main-block-p-light
			{
				color: $dark-90;
				line-height: 28px;

				font-size: 22px;
				font-family: 'Circe Light';
			}

			.main-block-buttons
			{
				display: flex;

				gap: 32px;
			}

			.main-photo
			{
				position: relative;

				display: flex;

				width: 100%;
				height: 100%;

				margin-top: 50px;
			}

			.pink-div, 
			.water-div
			{
				position: absolute;
				top: 0;

				width: 100%;
				height: 100%;

				transform: translateX(-50%);
				border-radius: 32px;
			}

			.water-div
			{
				background-color: $grey-blue;
				transform: rotate(-10deg);
			}

			.pink-div
			{
				background-color: $facadeColor;
				transform: rotate(-5deg);
			}

			.interior-photo
			{
				z-index: 1;

				width: 100%;
			}
		}

		section:nth-child(1)
		{
			display: block;
		}

		section:nth-child(2)
		{
			gap: 20px;
		}
	}
}

@media screen and (max-width: 1440px) and (min-width: 1024px)
{
	html > body main
	{
		margin: 0 24px;
	}
}

@media screen and (max-width: 1024px) and (min-width: 640px)
{
	html > body main
	{
		margin: 0 20px;
	}
}

@media screen and (max-width: 640px)
{
	html > body main
	{
		margin: 0 16px;

		section
		{
			margin-bottom: 64px;

			.main-block
			{
				gap: 32px;
			}

			.main-block-text
			{
				gap: 20px;
			}

			.main-block-p-light
			{
				line-height: 130%;

				font-size: 18px;
			}

			.factoids p
			{
				font-size: 60px;
			}

			.main-block-buttons
			{
				flex-direction: column;
				gap: 20px;
			}
		}
	}
}

@media screen and (max-width: 1024px)
{
	html > body main
	{
		section
		{
			flex-direction: column;

			.main-block-img
			{
				display: block;

				width: calc(100% + 30px);

				margin-left: -15px;
			}

			.interior-photo
			{
				display: none;
			}

			.main-block-text
			{
				width: 100%;
			}

			.factoids-conteiner
			{
				width: 100%;
				margin-top: 32px;;
			}
		}

		picture > img
		{
			width: 100%;
		}
	}
}
