html > body
{
	main
	{
		max-width: 1368px;
		margin: 0 auto 0 auto;
		section
		{
			display: flex;
			justify-content: space-between;
			margin-bottom: 88px;
			.main-block, .main-block-text{
				display: flex;
				flex-direction: column;
			}
			.main-block{
				gap: 48px;
				width: 100%;
			}
			.main-block-text{
				gap: 32px;
				width: 80%;
			}
			.main-p-regular{
				font-size: 14px;
				span{
					color: #B3B5B9;
				}
			}
			.main-block-p-light{
				font-size: 22px;
				line-height: 28px;
				color: $dark-90;
				font-family: 'Circe Light';
			}

			.main-block-buttons{
				display: flex;
				gap: 32px;
			}
		}
		section:nth-child(1){
			display: block;
		}
		section:nth-child(2){
			gap: 20px;
		}
	}
}

.main-photo {
    position: relative;
	width: 100%;
	height: 100%;
    display: flex;
	margin-top: 50px;
}

.pink-div, .water-div {
    position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
    transform: translateX(-50%);
	border-radius: 32px;
}

.water-div {
    background-color: $grey-blue; /* Light blue background */
	transform: rotate(-10deg);
}

.pink-div {
    background-color: $facadeColor; /* Light pink background */
	transform: rotate(-5deg);
}

.interior-photo {
    z-index: 1; /* Make sure the image is above the divs */
}



@media screen and (max-width: 1440px) and (min-width: 1024px){
	html > body{
		main{
			margin-left: 24px;
			margin-right: 24px;
		}
	} 
}

@media screen and (max-width: 1024px) and (min-width: 640px){
	html > body{
		main{
			margin-left: 20px;
			margin-right: 20px;
		}
	} 
}

@media screen and (max-width: 640px) and (min-width: 0px){
	html > body{
		main{
			margin-left: 16px;
			margin-right: 16px;
			section{
				margin-bottom: 64px;
				.main-block{
					gap: 32px;
				}
				.main-block-text{
					gap: 20px;
				}
				.main-block-p-light{
					font-size: 18px;
					line-height: 130%;
				}
				.factoids p {
					font-size: 60px;
				}
				.main-block-buttons{
					flex-direction: column;
					gap: 20px;
				}
			}
		}
	}
}

@media screen and (max-width: 1024px) and (min-width: 0px){
	html > body{
		main{
			section{
				flex-direction: column;
				.main-block-img {
					display: block;
					margin-left: -15px;
					width: calc(100% + 30px);
				}
				.interior-photo{
					display: none;
				}
				.main-block-text{
					width: 100%;
				}
			}
			picture > img{
				width: 100%;
			}
			.factoids-conteiner{
				width: 100%;
			}
		}
	}
}

