$accentColor: #ef9166;
$mainColor: #40454f;
$waterColor: #066381;
$white: #FFFFFF;
$dark-25: #CFD0D3;
$dark-90: #535861;
$dark-80: #646870;
$dark-60: #8C8F95;
$dark-40: #B3B5B9;
$facadeColor: #FBF0EA;