$facadeColor: #FBF0EA;
$dark-60: #8C8F95;
$accentColor: #ef9166;
.form-window{
	width: 411px;
	position: absolute;
	top: 0px;
	height: 100vh;
	background: white;
	border-radius: 32px 0px 0px 32px;
	right: -35%;
	display: flex;
	flex-direction: column;
	gap: 48px;
	justify-content: center;
	padding: 0 32px;
	
	transition: right 0.5s ease-in-out;

	form{
		display: flex;
		flex-direction: column;
		gap: 32px;
	}
	.form-input-line{
		background-color: $facadeColor;
		width: 411px;
		height: 48px;
		border: 1px solid $facadeColor;border-radius: 12px;
		font-size: 16px;
		color: $dark-60;
		line-height: 20.8px;
		padding-left: 24px;
	}
	.form-input-checkbox{
		input{
			display: none;
		}
		label {
			vertical-align: middle;
		}
		label:before{
			content: " ";
			display: inline-block;
			margin-right: 11px;
			position: relative;
			text-align: center;
			width: 20px;
			height: 20px;
			background: $facadeColor;
			border: 1px solid $accentColor;
			border-image: initial;
			vertical-align: middle;
			border-radius: 5px;
		}
		input:checked + label:before {
			content: url('../img/form-checkbox.svg');
			background: $accentColor;
		}
	}
}

.overlay-background{
	position: absolute;
	width: 100vw;
	height: 100vh;
	background-color: rgba(#40454FB0, 0.5);
	top: 0px;
	left: 0px;
	display: none;
}

.form-overlay-close{
	position: absolute;
	top: 32px;
	right: -500px;
}

._active-overlay-close{
	right: 503px;
	transition: right 0.5s ease-in-out;
	overflow: hidden;
}

._active-overlay-background{
	display: block;
	animation: 0.5s anim linear;
	overflow: hidden;
}

._active{
	right: 0;
	overflow: hidden;
}

@keyframes anim {
	0% {
	  opacity: 0;
	}
	100% {
	  opacity: 1;
  
	}
}